<div class="card mb-3">
  <img src="assets/logo.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">DLC do Doom Eternal już pod koniec sierpnia</h5>
    <p class="card-text">Doom Eternal: The Ancient Gods, Part Two to drugie fabularne DLC do gry Doom Eternal, kontynuujące historię zapoczątkowaną w pierwszym rozszerzeniu. Dodatek nie zmienia znacząco rozgrywki, wprowadza natomiast nowe lokacje i przeciwników.</p>
    <p class="card-text"><small class="text-muted">Ostatnio zaaktualizowano: 3 minuty temu</small></p>
  </div>
</div>
<div class="card">
  <img src="assets/logo.png" class="card-img-bottom" alt="...">
  <div class="card-body">
    <h5 class="card-title">Life is Strange: True Colors</h5>
    <p class="card-text">Trzecia główna część popularnej serii epizodycznych przygodówek. Life is Strange: True Colors zostało stworzone przez studio Deck Nine, autorów Life is Strange: Before the Storm, i wydane przez sprawującą pieczę nad marką firmę Square Enix.</p>
    <p class="card-text"><small class="text-muted">Ostatnio zaaktualizowano: 16 minut temu</small></p>
  </div>
</div>
